<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flow.form.mapper.FormApiconfigBackMapper">
	
	<!-- 查询数据
	<select id="findList" resultType="FormApiconfigBack">
		SELECT ${sqlMap.column.toSql()}
		FROM ${sqlMap.table.toSql()}
		<where>
			${sqlMap.where.toSql()}
		</where>
		ORDER BY ${sqlMap.order.toSql()}
	</select> -->
	<select id="getMaxVersion"  resultType="java.lang.Integer">
		select max(f_versions) from form_apiconfig_back where call_method_code=#{callMethodCode}
	</select>
</mapper>