<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flow.form.mapper.FormFormMapper">
	
	<!-- 查询数据
	<select id="findList" resultType="FormForm">
		SELECT ${sqlMap.column.toSql()}
		FROM ${sqlMap.table.toSql()}
		<where>
			${sqlMap.where.toSql()}
		</where>
		ORDER BY ${sqlMap.order.toSql()}
	</select> -->
	<select id="queryFromList" resultType="com.ruoyi.flow.form.vo.QueryFromVO" parameterType="com.ruoyi.flow.form.req.QueryFromReq">
		select form_form_id, create_date, create_by, update_date, update_by, FromName, FromCode, FRemarks,
		from_table_name,is_buildapi,dept_id from form_form where relevance_form_id is null
		<if test="fromname!=null and fromname!=''"> and fromname like CONCAT('%',#{fromname},'%') </if>
		<if test="fromtype!=null and fromtype!=''"> and fromtype=#{fromtype} </if>
		<if test="fromcode!=null and fromcode!=''"> and FromCode like CONCAT('%',#{fromcode},'%') </if>
		<if test="fremarks!=null and fremarks!=''"> and FRemarks like CONCAT('%',#{fremarks},'%') </if>
		<if test="isBuildapi!=null "> and is_buildapi = #{isBuildapi} </if>
		<if test="deptId!=null"> and dept_id = #{deptId} </if>
     order by update_date desc
	</select>
	<select id="queryFromDesignList" resultType="com.ruoyi.flow.form.vo.QueryFromVO" parameterType="com.ruoyi.flow.form.req.QueryFromReq">
		select form_form_id, create_date, create_by, update_date, update_by, FromName, FromCode, FRemarks,
		from_table_name,is_buildapi,fromdesignjson,dept_id from form_form where relevance_form_id is null
		<if test="fromname!=null and fromname!=''"> and fromname like CONCAT('%',#{fromname},'%') </if>
		<if test="fromtype!=null and fromtype!=''"> and fromtype=#{fromtype} </if>
		<if test="fromcode!=null and fromcode!=''"> and FromCode like CONCAT('%',#{fromcode},'%') </if>
		<if test="fremarks!=null and fremarks!=''"> and FRemarks like CONCAT('%',#{fremarks},'%') </if>
		<if test="isBuildapi!=null "> and is_buildapi = #{isBuildapi} </if>
		<if test="deptId!=null"> and dept_id = #{deptId} </if>
		order by update_date desc
	</select>
	<select id="getMainDatabaseName" resultType="java.lang.String">
			SELECT DATABASE() as miandatabase;
	</select>

</mapper>